<!DOCTYPE html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span {
        margin: 20px 0;
        display: block;
      }

      .first {
        font-weight: bold
      }
      
      span > a {
        background-color: #b29bff;
        color: black;
        font-size: 24px;
        font-weight: bold;
      }

      img {
        margin: 32px 0;
        width: 250px;
      }

      strong {
        margin-top: 16px;
        color: #7159c1;
      }

      .hr1 {
        width: 800px;
        height: 2px;
        margin: 20px 0;
        background-color: #7159c1;
      }

      .footer {
        margin-top: 16px;
        color: #666666;
        font-size: 14px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <img src="https://i.imgur.com/oUAKMC5.png"/>
    
      <span class="first">Olá, {{name}} !</span>

      <span>
        Você solicitou a alteração de senha da sua conta.
      </span>

      <span>Para realizar a troca, clique no link abaixo: <br/>
        <br/>
        <a href={{link}}>{{link}}</a>
      </span>

      <span>
        Caso não tenha sido você quem solicitou a alteração da senha, 
        por favor, ignore este e-mail.
      </span>

      <div class="hr1"></div>

      <strong>Grande Abraço !</strong>

      <div class="footer">
        <span>Equipe | <strong>Rentx</strong></span>
      </div>
    </div>
  </body>
</html>